<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Statistics of last hour</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.1.1/css/bootstrap.min.css}"/>

</head>
<body>
<h2><p class="text-center">TOP 5 Forms</p></h2>

<div th:switch="${data_bean}">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">form</th>
            <th scope="col">frequency</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="form : ${data_bean}">
            <td scope="row" th:text="${form.formId}"></td>
            <td th:text="${form.frequency}"></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>